header {
    background-color: #070cbb;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.bank {
    position: 'absolute';
    right: '20px';
    top: '50%';
    transform: 'translateY(-50%)';
    cursor: 'pointer';
}