.popup-janela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(242deg 72.37% 19.19% / 87%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-title {
    color: blue;
  }
  
  .popup-geral {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
  }
  
  .fechar-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: rgb(16, 3, 255);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-g {
    margin-bottom: 15px;
  }
  
  .form-g label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-g input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button-login {
    padding: 20px 125px;
    border: none;
    border-radius: 4px;
    background: blue;
    color: white;
    cursor: pointer;
  }
  