/* src/components/PopupCadastro.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Para garantir que o pop-up apareça acima de outros elementos */
  }
  
  .popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: 90%;
    max-width: 800px;
    max-height: 600px;
    overflow: auto; /* Adiciona barra de rolagem se necessário */
    position: relative;
  }
  
  .close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    z-index: 10000; /* Garantir que o botão fique acima de outros elementos */
  }
  
  .cadastro-form {
    display: flex;
    flex-direction: column;
  }
  
  .cadastro-form label {
    margin-bottom: 10px;
  }
  
  .cadastro-form input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-popup-btn,
  .confirm-popup-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .edit-popup-btn {
    background-color: #ffcc00;
  }
  
  .confirm-popup-btn {
    background-color: #28a745;
  }
  
  .resumo-compra p {
    margin: 5px 0;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  