.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: 90%;
    max-width: 800px;
    max-height: 600px;
    overflow: auto;
    position: relative;
  }
  
  .close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    z-index: 10000; 
  }

  .fechar-button-login {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: rgb(16, 3, 255);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cadastro-form {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    text-align: left;
    color: #4c4e4e;
    font-family: 'open_sansbold';
    margin-left: 10px;
    margin-bottom: 35px;
  }
  
  .cadastro-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .cadastro-form input {
    padding: 10px 0 10px 16px;
    font-family: "Open Sans", sans;
    font-size: 23px;
    font-weight: 400;
    color: #18025a;
    background: #f0ec082b;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
  }
  
  .edit-popup-btn,
  .confirm-popup-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .edit-popup-btn {
    background-color: #ffcc00;
  }
  
  .confirm-popup-btn {
    background-color: #28a745;
  }
  
  .resumo-compra p {
    margin: 5px 0;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  